<div class="container">
  <div class="jumbotron">
    <div id="welcome">
      <h1>Welcome To Finance Tracker</h1>
      <p>With this brand-new Finance Tracker app, keeping track of your stocks has never been easier. 
         Simply search up stocks by their symbol, and add them to your portfolio to keep track of them! 
         You can even add friends to see what stocks they're tracking!</p>
      <%= link_to "Get Started", my_portfolio_path, class: "btn btn-lg btn-default welcomeBtn zoom" %>
    </div>
  </div>
</div>

