/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 */

.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}

tr.spaceUnder>td {
  padding-bottom: 7px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
}

footer p {
  color: #222;
}

footer a:hover {
  color: #222;
}

#logo {
  float: left;
  color: #dedfe0;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.nav.navbar-nav li a {
  color: #dedfe0;
}

.nav.navbar-nav li a:hover {
  color: #fff;
}

.dropdown-menu.dropdownText li a {
  color: black;
}

.dropdown-menu.dropdownText li a:hover {
  color: black;
}

.jumbotron {
  background-color: #222;
  margin: auto;
  width: 80%;
  height: 400px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.jumbotron h1,p {
  color: #dedfe0;
}

#welcome {
  margin-top: auto;
  display: inline-block;
}

#welcome h1 {
  font-size: 45px;
}

.welcomeBtn {
  background-color: #dedfe0;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}